.forExp {
  display: flex;
  flex-direction: column;
}
.field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.field label {
  width: 150px;
  padding-top: 0.5rem;
}

.field input,
.field textarea {
  flex: 1;
}

.textArea {
  resize: vertical;
  min-height: 10vh;
}
