fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
section div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
button:disabled {
  background-color: lightgrey;
}
